
@{
    ViewData["Title"] = "CoursesLoginIn";
}

<h1>Logined In, Here is your Schedule sheet</h1>


<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRudbwqfFmSBCt3bglsASgV_gPgRy3q4NMy20dROz2eLeF4Yk0Sd0Ug2s3CA1ECmHqAzWjetzutWn0p/pubhtml?widget=true&amp;headers=false"></iframe>

<!-- Compare this snippet from SeminarScheduler/Views/Home/Privacy.cshtml: -->

