@page
@model SeminarScheduler.Areas.Identity.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Log in";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow">
            <div class="card-header bg-primary text-white text-center">
                <h2>Seminar Scheduler Login</h2>
            </div>
            <div class="card-body">
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    
                    <div class="form-group">
                        <label asp-for="Input.Email">Email</label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="Input.Password">Password</label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input asp-for="Input.RememberMe" class="custom-control-input" />
                            <label asp-for="Input.RememberMe" class="custom-control-label">Remember me</label>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary btn-block">Log in</button>
                    
                    <div class="text-center mt-3">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>